*{
font-family: "Cinzel", serif;
font-optical-sizing: auto;
font-weight: 600px;
font-style: normal;
/* background-color: #4f4f50; */
}
#textoBanner{
    display: flex;
    justify-content: center;
    height: 400px;
    text-align: center;
    align-items: center;
    color: white;
    font-size: 3rem;
    text-shadow: black 4px, 3px, 3px;

}
#banner{
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom:0;
    height: 400px;
    background-image: url("../IMG/banner1.jpg");
    background-repeat:no-repeat;
    background-size: cover
    
   
}



/* #imagemBanner{
    position: relative;
    width: 100%;

} */

      
.textCard{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: start;
    align-items: center;
    
  }

#tituloSobre{
    display: flex;
    justify-content: center;
    margin: 2rem;


}

#textoSobre{
    display: flex;
    justify-content: center;
    margin: 1rem;
}
