*{
  margin: 0%;
}

body{
    background-color: #5E5E5E;
    color: #FFF6ED;
}

.conteiner{
  display: grid;
  grid-template-columns: 2fr, 2fr, 2fr;
  grid-template-rows: repeat(3, 3fr);
  
}

.header{
  background-color: #1b2a5e;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.footer {
  background: #1b2a5e;
  color: white;
  text-align: center;
  padding: 20px;
}


.divSobreNos {
  display: grid;
  margin-bottom: 30px;
  padding-top: 5%;
  padding-bottom: 5%;
  height: 150px;
  background-color: #15297C;
  margin-bottom: 30px;
  padding-top: 5%;
  padding-bottom: 5%;
  height: 150px;

  }
  
.sobreNos1{
    width: 30%;
    height: 30%;
    grid-column: 1;
    grid-row: 2;

  }
  
  .sobreNos2{
    display: flex;
    width: 30%;
    height: 30%;
    float: left;
  }
  
  .tituloP{
    text-align: center;
    color: #FFF6ED;
    font-size: 5em;
    margin-bottom: 5%;
    justify-content: center;
  }
  
  #tituloHistoria{
    color: #FFF6ED;
    grid-area: 1;
    grid-row: 1;
    

  }

  .imgSobreNos{
    grid-column: 2 / 2;
    grid-row: 2 / 2;

  }

  .xd{
    display: grid;
    grid-template-columns: repeat(2, 3fr);
    grid-template-rows: repeat(2, 3fr);
    grid-template-areas: "area1" "area2";

  }
  
  .MV1{
    background-color: #15297C;
    color: #FFF6ED;
    padding: 5%;
    padding: 5%;
    margin-bottom: 30px;
    margin-top: 30px;
    height: 200px;
    width: 250px;
   
  }
  
  .MV2{
    background-color: #15297C;
    color: #FFF6ED;
    padding: 5%;
    margin-bottom: 30px;
    margin-top: 30px;
    grid-column: 3/4;
    grid-row: 1/2;
    height: 200px;
    width: 250px;
  }
  
  #visão{
    background-color: #FFF6ED;
    color: #15297C;
    padding: 5%;
    padding: 5%;
    margin: 30px;
   height: 200px;
    width: 250px;
  }
  
  #servicoOferece{
    background-color: #FFF6ED;
    color: #000000;
    margin: 30px;
    padding: 5%;
  }
  
  #sO{
    color: #15297C;
    margin: 30px;
    padding: 5%;
  } 

  .textoS{
    float: left;
  }
  
  #E{
    color: #15297C;
  }
  
  #S{
    color: #FFF6ED;
  }
  
  #G{
    color: #000000;
  }
  
  .imgESG{
    float: left;
  }

  .caixaDeTextoESG1{
    background-color: #FFF6ED;
    margin: 30px;
    padding: 5% 5% 5% 5%;
    height: 240px;
    width: 1000px;
  }
  
  .caixaDeTextoESG2{
    background-color: #FFF6ED;
    margin: 30px;
    padding: 5%;
    height: 240px;
    width: 1000px;
  }

  .caixaDeTextoESG3{
    background-color: #FFF6ED;
    margin: 30px;
    padding: 5%;
    height: 240px;
    width: 1000px;
  }
  
  .tituloESG{
    color: #15297C;
  }
  
  .subtituloESG{

    color: #15297C;
  }
  
  .textoESG{
    color: #000000;
  }
  
  #f{
   background-color: #15297C;
   color: #FFF6ED;
  }
  
  #VP{
   color: #15297C;
  }
  
  .caixaVP{
   background-color: #15297C;
   color: #FFF6ED;
   margin: 20px;
  }

  .imgCaFG1{
   background-color: #5E5E5E;
   margin: 20px;
  }
  
  .imgCaFG2{
   background-color: #5E5E5E;
   color: #FFF6ED;
   margin: 20px;
  }
  
  #SuaCasa{
   background-color: #FFF6ED;
  }
  
  #icones1{
   background-color: #5E5E5E;
   color: #15297C;
   margin: 10px;
  }
  
  #icones2{
   background-color: #5E5E5E;
   color: #15297C;
   margin: 10px;
  }
  
  #icones3{
   background-color: #5E5E5E;
   color: #15297C;
   margin: 10px;
  }
  
  #icones4{
   background-color: #5E5E5E;
   color: #15297C;
  }
  
  #icones5{
   background-color: #5E5E5E;
   color: #15297C;
   margin: 10px;
  }
  
  #VP2{
   color: #15297C;
   grid-column: 1/3;
   grid-row: 1/2;
  }
  
  #botao{
   background-color: #15297C;
   color: #FFF6ED;
  }
  
  .PF{
   border-top: 5px solid 15297C;
   background-color: #FFF6ED;
   color: #000000;
  }
  
  #VP3{
   color: #15297C;
  }
  
#caixa{
    height: 60px;
}
#FG{
    height: 60px;
}

  